# SPDX-FileCopyrightText: OpenTalk GmbH <mail@opentalk.eu>
#
# SPDX-License-Identifier: EUPL-1.2

# Though module hoisting could be dangerous, we need to hoist node_modules now
# Shall be addressed in:
# https://git.opentalk.dev/opentalk/frontend/web/web-app/-/issues/2036
# https://pnpm.io/npmrc#node-linker
node-linker=hoisted