# Test envs
# We currently maintain two different test setup
# 1. Playwright tests
# 2. Gherkin tests
# These tests contain their own set of envs, and some common envs are:

# URL of OpenTalk, where you can find the frontend.
# Defaults to "https://localhost:8443"
INSTANCE_URL=
# URL of OpenTalk backend/controller.
# Defaults to "http://localhost:11311"
CONTROLLER_HOST=
# Browser to run test on, it can be chromium or firefox or webkit
BROWSER=
# If you want to run test in headless mode then set it to true, if not set it to false
HEADLESS=

# Playwright Tests env
# These tests are only relevant for Playwright Tests
# Username of test actor
# defaults to "test"
USER_NAME=
# Password of test actor
# defaults to "testtest"
PASSWORD=
# E-mail of test actor
# defaults to "alice@example.com"
USER_EMAIL=

# Gherkin Tests envs
# These tests are only relevant for Gherkin Tests
# SLOW_MO to slow down Playwright operations by the specified amount of milliseconds.
# Useful so that you can see what is going on
# defaults to "0"
SLOW_MO=